.header-container {
    display: flex;
    height: 50px;
    width: 100%;
    padding: var(--spacing-small);
    position: fixed;
}

.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}