:root {
    --color-white: #fff;
    --color-light: #f8f9fa;
    --color-unaccent: #808080;
    --color-medium: #e8e8e8;
    --color-dark: #a1a1a1;
    --color-red: #b43f5a;

    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;

    --border-radius: 3px;

    --linear-gradient: linear-gradient(to right, #34C9BC, #2bb1a6, #28aa9f, #20998f, #34C9BC);
    --box-shadow: 0 16px 24px 2px rgba(33, 37, 41, .02),
    0 6px 30px 5px rgba(33, 37, 41, .04),
    0 8px 10px -5px rgba(33, 37, 41, .1);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-red);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-white);

}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font: normal 120% 'ibm plex sans', arial;
    line-height: 1.7;
    background-color: var(--color-light);
}