html,
body {
    height: 100%;
}

body {
    margin: 0;
    font: normal 120% 'ibm plex sans', arial;

}

span {
    font-size: 3.6em;
}

h3 {
    padding: 35px;
}

h5 {
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.text a {
    color: #b43f5a;
    text-decoration: none;
}

.text a:hover {
    color: #34C9BC;
    text-decoration: none;
}

.wrapper {
    min-height: 70% !important;
}

.header a {
    color: #000;
    text-decoration: none;
}

.header a:hover {
    color: #b43f5a;
    text-decoration: none;
}

.header h1 {
    letter-spacing: 2px;
    font-size: 3.6em;
}

.header p {
    color: #000 !important;
    font-size: 1.2em;
    letter-spacing: 3px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #000;
    background-color: #b43f5a;
}

.nav-pills>li>a {
    color: #000;
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
}

.nav-pills .red {
    color: #b43f5a;
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
}

.nav-pills>li>a:hover {
    background-color: #b43f5a;
}

.nav-pills .red:hover {
    background-color: #fff;
}

.navbar-inverse {
    padding: 1%;
    border-radius: 0;
    background-color: #fff;
    border-color: #fff;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle {
    background-color: #333;
}

.containerintro img {
    display: flex;
    margin: 0 !important;
    flex-direction: column;
    flex-shrink: 0;
    height: 750px;
    position: relative;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.intro a {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.intro a:hover {
    color: #b43f5a;
    opacity: .9;
}

.men {
    border: 1px solid #b43f5a;
}

.back {
    margin-top: 20px;
}

.store {
    top: 50%;
    left: 50%;
}

.row {
    margin: 0;
}

/* col */

.col-lg-4 {
    padding: 0;
    margin: 0;
}

.col-lg-12 {
    padding: 0;
}

.col-lg-6 {
    padding: 0;
    margin: 0;
}


/* src */

.clear {
    clear: both;
    height: 63px;
}

.wrapper {
    min-height: 100%;
}


/* Social */

.switem img {
    padding: 5px;
}


.margin-8 {
    margin-top: 4%;
}

.panel {
    border: none;
}

.panel-body {
    background-color: #f9f9f9;
}

.panel-info>.panel-heading>.sidebar-header>.panel-body p {
    font-weight: 300;
}

.panel-info>.panel-heading {
    background-color: #b43f5a;
    color: #fff;
    border-color: transparent;
}


.btn-warning {
    color: #fff;
    background-color: #b43f5a;
    border-color: #efefef;
}


.btn-warning:hover {
    background-color: #34C9BC;
    border-color: #efefef;
}

/* Clothing item page (blackout and others..) */


/* About page */

.dream p {
    font-size: 28px;
}

.dream>.maintext {
    font-size: 20px;
}

textarea.form-control {
    height: 200px;
}


footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #efefef;
    text-decoration: none;
}

/* Sign In page */

.account a {
    color: #b43f5a;
    text-decoration: none;
}

.account a:hover {
    color: #34C9BC;
}

@media only screen and (max-width: 414px) {
    .switem {
        left: 50%;
    }


}

@media only screen and (max-width: 768px) {
    .nav-pills>li {
        float: none;
    }

    .nav-pills {
        text-align: center;
    }

    .header h1 {
        letter-spacing: 5px;
        font-size: 280%;
    }

    .header {
        text-align: center;
    }

    .intro .img-responsive {
        height: 500px;
    }

    .switem {
        left: 55%;
    }
}

@media only screen and (min-width: 1024px) {
    .switem {
        left: 50%;
    }

    .text-justify {
        font-size: 20px;
        text-align: justify;
        
    }
    
    .img-circle {
        width: 90%;
    }
}

/* Sign Up page */

.subtitle p {
    font-weight: normal;
}